# SPDX-FileCopyrightText: 2025 Digg - Agency for Digital Government
#
# SPDX-License-Identifier: CC0-1.0

---
name: Release Dev Workflow

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    uses: diggsweden/reusable-ci/.github/workflows/build-gradle-android-variants.yml@v2.3.0
    permissions:
      contents: read
      packages: write
    secrets: inherit
    with:
      java-version: "21"
      jdk-distribution: "zulu"
      build-module: "app"
      product-flavor: "demo"
      include-date-stamp: false
      build-types: "debug,release"
      include-aab: true
      enable-signing: true

  upload-to-google-play-store:
    runs-on: ubuntu-latest
    needs: build
    env:
      SERVICE_ACCOUNT_JSON: ${{ secrets.SERVICE_ACCOUNT_JSON }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Get versionName
        run: |
          VERSION_NAME=$(grep "versionName=" gradle.properties | cut -d'=' -f2 || echo "unknown")
          echo "VERSION_NAME=$VERSION_NAME" >> "$GITHUB_ENV"

      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          pattern: "*AAB*"
          path: ./artifacts

      - name: Upload to Google Play Store
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ env.SERVICE_ACCOUNT_JSON }}
          packageName: se.digg.wallet.demo
          releaseFiles: "./artifacts/demoRelease/wallet-${{ env.VERSION_NAME }}-demo-release.aab"
          track: alpha
