# SPDX-FileCopyrightText: 2025 Digg - Agency for Digital Government
#
# SPDX-License-Identifier: CC0-1.0

---
name: Release Dev Workflow

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    uses: diggsweden/reusable-ci/.github/workflows/build-gradle-android-variants.yml@e29145e720cef0b86ef147c72c2d001b5ac6c8b9 # v2.4.2
    permissions:
      contents: read
      packages: write
    secrets: inherit
    with:
      java-version: "21"
      jdk-distribution: "zulu"
      build-module: "app"
      product-flavor: "demo"
      build-types: "debug,release"
      include-aab: true
      artifact-name-prefix: "testing_store"
      include-date-stamp: true
      enable-signing: false
